body{
    margin: 0;
    padding: 0;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
    /* width: 80%; */
}
/*mission 2022 start*/
.mission{
    width: 80%;
    margin: 0 auto;
    }
section{
    display: flex;
    }
.ms-content{
    
    width: 50%;
}
.ms-content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;

}
.ms-mission{
    margin-top: 100px;
}
.ms-content h1{
    font-size:40px;
    font-weight: 700;
}
.ms-content p{
    font-size: 16px;
    font-weight: 400;
}

.ms-content img{
    width: 70%;
}
.ms-color{
    color:tomato;
    font-size:40px;
    font-weight: 700;
    padding-top: 10px;
}
.ms-border{
    border-left:2px solid royalblue ;
    padding-left: 10px;
    }
.btn-m{
    margin: 25px 0px;
}
.link-button{
text-decoration: none;
background-color: darkslateblue;
padding: 10px 40px;
color: white;
font-size:20px;
font-weight: 800;
border-radius: 20px;
transition: .5s;
}
.link-button:hover{
    color:coral;
    background-color: rgb(40, 23, 148);
}
/*mission 2022 end*/
/*my mission start*/
.how_it_works{
    /* padding: 100px 0; */
    width: 80%;
    margin: 0 auto;
    }
    .first_part {
    /* width: 70%; */
    /*border: 1px solid red;*/
    margin:0 auto; 
    text-align:center;
    margin-bottom: 70px;
    font-size: 30px;
    font-weight: 700;
    margin-top: 50px;
    }
    .first_part h1{
     margin: 0 0 30px;
    }
    .first_part p{
    color: #525C68;
    line-height: 23px;
    margin: 0;
    }
    .second_part{
        overflow: hidden;
        display: flex;
    }
    .single_item{
        float: left;
        width:24%; 
        /*border: 1px solid black;*/
        text-align:center;
        padding: 0 1.5%;
        margin:0 2.9%; 
        border-radius: 20px;
        }
    .single_item img{
        width: 50%;
    }
    .single_item p{
        
        font-size:18px;
        font-weight: 400;
        color:black;  
    }
    .s-1{
        background-color: lightblue;
        width: 33%;
    }
    .s-1 h1{
        font-size: 30px;
        font-weight: 700;

    }
    .s-2{
        background-color: lightpink;
        width: 33%;
    }
    .s-3{
        background-color: lightseagreen;
        width: 33%;
    }
/*my mission end*/
/*develop start*/
section{
    display: flex;
}
.half-width{
    width: 50%;
    
}
.half-width h1{
    font-size:40px;
    font-weight:700;
}
.half-width img{
    width: 80%;
}
.half-width p{
    font-size:18px;
    font-weight: 400;
    line-height: 25px;
}
/*develop end*/
/*community start*/
.top-banner{
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}
/*community end*/
/**gataway start**/
.web-developer{
	padding: 40px 0;
}
.container2{
	width: 80%;
	margin: 0 auto;
	/**border:1px solid red;**/
}
.light{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #b4ad9e;
	text-transform: uppercase;
	margin:0;
}
.c_title{
	font-size: 30px;
	font-weight: 400;
	color: #626262;
	margin: 25px 0 30px;
}
.c_p{
	color: #626262;
	line-height: 25px;
	word-spacing: 1px;
	margin-top: 0;
	margin-bottom: 10px;
}
/**gataway ends**/

/*footer start*/
.footer{
   height: 150px;
    text-align: center;
    background-color: black;
    margin-top: 120px;
    }
.footer h1{
    color:white;
    font-family: 'Caveat', cursive;
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    padding-top: 30px;
}

.footer p{
    color:ivory;
    font-size:16px;
    font-weight: 400;
}
/*footer end*/
